.navbar-light .navbar-brand {
    color: #fff;
}

.navbar {
    background-color: #ef6c00 !important;
}

.navbar .nav-link {
    font-size: .7rem;
    color: rgba(255, 255, 255, .7) !important;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #fff !important;
}

.sidebar {
    background-color: #f7f7f7 !important;
    padding-top: 23px;
}

#left-nav .nav-link {
    font-size: .8rem;
    color: #757575;
    margin: 8px 0;
    line-height: 16px;
    padding: 0;
}

#left-nav > ul:nth-child(1) > li > a {
    color: #039be5;
}

#left-nav h6 {
    border-top: 1px solid #cfd8dc;
    margin: 15px -16px 0;
    padding: 16px 16px 0;
    color: #757575 !important;
    font-size: .8rem !important;
    padding-left: 0 !important;
}

#left-nav h6 span {
    padding-left: 16px;
}

/* Content style */

main {
    color: #212121;
    margin-bottom: 100px;
}

main h1 {
    color: #757575;
    font-size: 2rem;
    font-weight: 300;
    margin: 40px 0 20px;
}

main h2 {
    font-size: 1.5rem;
    font-weight: 300;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 3px;
    margin: 40px 0 20px;
}

main h3 {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 32px 0 16px;
}

main:link {
    color: #039be5;
    outline: 0;
}

main .table-wrapper {
    margin: 16px 0;
    overflow: auto;
}

main table {
    width: 100%;
    text-align: left;
}

main table tr {
    background: #78909c;
    border: 0;
    border-top: 1px solid #cfd8dc;
}

main table th {
    height: 48px;
    color: #fff;
    padding: 8px;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 300;
}

main table td {
    background: rgba(255, 255, 255, .95);
    vertical-align: top;
    color: #212121;
    padding: 7px 8px 8px;
}

main table pre {
    background: rgba(255, 255, 255, .95);
}

main code {
    background-color: #f7f7f7;
}

main pre {
    font-size: .8rem;
    background: #f7f7f7;
    color: #37474f;
    margin: 16px 0;
    overflow-x: auto;
    padding: 8px;
}

main p {
    margin: 16px 0;
    padding: 0;
}

main li {
    margin: 8px 0;
}

main img {
    max-width: 100%;
}

footer {
    background-color: #455a64;
    padding: 20px;
    font-size: 0.8rem;
    color: #cfd8dc;
}

footer #contributors {
    word-break: keep-all;
}

footer #contributors a {
    color: #cfd8dc94;
    font-size: .6rem;
    margin-right: 5px;
}

footer #contributors img {
    height: 20px;
    width: 20px;
    margin-right: 2px;
}

footer .official-links {
    vertical-align: middle;
    margin-bottom: 10px;
}

footer .official-links a {
    margin: 0 30px;
}

.bd-toc {
    order: 2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: .875rem;
}

@supports (position: sticky) {
    .bd-toc {
        position: sticky;
        top: 4rem;
        height: calc(100vh - 4rem);
        overflow-y: auto;
    }
}

#table-of-content {
    padding-left: 10px;
    border-left: 1px solid #eee;
}

#table-of-content li {
    list-style: none;
}

#table-of-content ul {
    padding-left: .5rem;
}

#table-of-content ul li {
    display: block;
}

#table-of-content ul li a {
    display: block;
    padding: .125rem 1.5rem;
    color: #99979c;
}

#table-of-content ul li a :hover {
    color: blue;
    text-decoration: none;
}

#share-button {
    position: fixed;
    left: -7px;
    bottom: 38px;
    border: 1px solid #555;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    padding-right: 5px;
    text-align: right;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    transition: .5s;
}

#share-button:hover {
    background-color: rgba(255, 255, 255, 1);
    transition: .5s;
}

#share-button img {
    height: 15px;
    width: 15px;
}